@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Redressed', sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 4rem;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.616);
}

body{
    background-color: rgba(37, 38, 39);
}

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 600px;
    background-color: rgb(30, 165, 243);
    border-radius: 8px;
    margin-top: 20rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.container p{
    font-size: 23px;
    line-height: 3.5rem;
    text-align: justify;
}

button{
    margin-top: 4rem;
    width: fit-content;
    padding: 1rem;
    font-size: 14px;
    background-color: rgba(23, 102, 175, 0.774);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(17, 17, 17, 0.74);
    align-self: center;
}
button:active{
    transform: scale(0.95);
}